html{
    font-size: 62.5%;
}

.Navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: #384484;
    border-bottom: solid 0.75rem #ECF6FA;
}

.Navbar logo {
    width: 4rem;
}

.NavbarList {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Chilanka', cursive;
    list-style-type: none;
    padding-inline-start: 2rem;

}

.NavbarList a {
    color : #ECF6FA;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    transition: scale 200ms;
}

.NavbarList a:hover {
    color: #FF9471;
    scale: 1.1;

}

.NavbarElement {
    padding: 0rem 1.5rem;
}

.Burger {
    display: none;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.Burger .bar {
  width: 3rem;
  height: 0.4rem;
  background-color: #ECF6FA;
  margin: 0.5rem 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.25);
  transition: 1s;
}

.xcross #first-bar {
    transform: rotate(225deg) translate(-8px, -5px) ;
    background-color: #FF9471;
}

.xcross #second-bar {
    transform: scale(.5) rotate(270deg);
	background-color: transparent;
	box-shadow: none;
}

.xcross #third-bar {
    transform: rotate(135deg) translate(-8px, 5px);
    background-color: #FF9471;
}

@media screen and (max-width: 758px) {
    .Burger {
        display: inline-block;
    }

    .NavbarList{
        display: none;
    }

    .Navbar {
        justify-content: space-evenly;
    }
}